.footer {
    display: flex;    
    justify-content: space-evenly;     
    bottom: 0;    
    width: 100%;
    height: 60px;
    z-index: 999; 
    margin-top: 75px;    
}

.footer_dark {   
    background-color:#24252A;    
    color: white;
}

.footer_light {  
    background-color:whitesmoke; 
    color: black;
}

.footer_dark::before {
    content: '';
    position: absolute;   
    background-color: gray;
    height: 0.1em;
    width: 80%;    
    border-radius: 0.1em;
}

.footer_light::before {
    content: '';
    position: absolute;   
    background-color: gray;
    height: 0.1em;
    width: 80%;    
    border-radius: 0.1em;
}