.app_dark {  
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #24252A;    
    width: 100%;    
}

.app_light {   
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    width: 100%;    
}