.app_dark {
    height: 100vh;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #24252A;
    height: 100vh;
    width: 100%;
}

.app_light {
    height: 100vh;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    height: 100vh;
    width: 100%;
}