

.login_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-height: 400px;
  width: 400px;
  margin-top: 10rem;
  padding: 1rem;
  flex: 1;   
}

h2 {
  position: relative;
  text-align: center;
  margin-bottom: 2rem;
}

h2::after {
  content: '';
    position: absolute;
    display: block;
    bottom: -2;
    left: 0;
    height: 2px;
    width: 100%;
    
    background-color: #0088a9;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 70%;
}

.login_card label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.login_card input {
  font: inherit;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.15rem;
  margin-bottom: 0.5rem;
}

.login_card input:focus {
  outline: none;
  border-color: grey;
}

.invalidEmail:focus {
  border: 2px solid red;
  background-color: rgb(255, 194, 194);
}

.validEmail:focus {
  border: 1px solid green;
  background-color: rgb(184, 248, 184);
}

.invalid {
  color: red
}

.valid {
  color: green
}




.card {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;  
  transition: background-color 200ms ease-in;
}


.message {
  min-height: 30px;
}

.login_card_dark {
  color: whitesmoke;
  background: trasparent;    
  border-radius: 10px;
  border: 2px solid gray;
  transition: box-shadow 200ms ease-in;
  transition: border 200ms ease-in;
}


.login_card_light {
  background-color: rgb(230, 230, 230);
  border: 2px solid grey;
  border-radius: 10px;
  transition: box-shadow 200ms ease-in;
}

.need_account {
  margin-top: 0.5em;
  color: grey;
}

.password {
  margin-bottom: 8px;
}