.nav_Buttons button {
    background: transparent;
    border: none;
}
.nav_Buttons button:active {
    outline: none;
    border: none;
    
}

.nav_Buttons button:focus {
    outline: none;
    border: none;
    
}

.button_Icon {
    color: #212121;
    object-fit: contain;
    height: 40px !important;
    width: 40px !important;
    cursor: pointer;
}

.button_Icon:hover {
    color: #b93a3a;
    cursor: pointer;
}