
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.nav {
    display: flex;    
    justify-content: space-evenly;
    position: sticky;
    top: 0;    
    width: 100%;
    height: 60px;
    z-index: 999;     
}

.nav_dark {
    display: flex;    
    justify-content: space-evenly;
    position: sticky;
    top: 0;  
    
    width: 100%;
    height: 60px;
    z-index: 999;
    background-color:#24252A;    
}

.nav_light {
    display: flex;    
    justify-content: space-evenly;
    position: sticky;
    top: 0;    
    width: 100%;
    height: 60px;
    z-index: 999;
    background-color:whitesmoke; 
    
}

.nav_dark .nav_light > * {
    flex-basis: 100%    
}

.nav_dark::after {
    content: ' ';
    position: absolute;   
    background-color: gray;
    height: 0.1em;
    width: 80%;
    bottom: 0;
    border-radius: 0.1em;
}

.nav_light::after {
    content: ' ';
    position: absolute;   
    background-color: gray;
    height: 0.1em;
    width: 80%;
    bottom: 0;
    border-radius: 0.1em;
}

.header_dark {
    display: flex;
    text-decoration: none;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    position:relative;
}

.header_light {
    display: flex;
    text-decoration: none;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    position:relative;
}

.header_dark::after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #0088a9;
    
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in
}

.header_light::after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #0088a9;
    
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in
}

.header_dark:hover::after {
    
    transform: scaleX(1);   
    transform-origin: left;
}

.header_light:hover::after {
    
    transform: scaleX(1);   
    transform-origin: left;
}


.header_dark div {
    color:rgb(202, 202, 202);
}

.header_light div {
    color:black;
}


.header_dark div + div {
    color:#0088a9;
}

.header_light div + div {
    color:#0088a9;
}


.link {
    text-decoration: none;
}


.nav_left {
    flex: 0.1;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.nav_middle {
    display: flex;
    flex: 0.3;
    justify-content: space-evenly;
    align-items: center;
}


.nav_right {
    flex: 0.1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logout {
    color: green;
}