@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.navOption {
    display: flex;
    flex-direction: column;
    align-items: center;    
    color: rgb(202, 202, 202);
    cursor: pointer;
    text-decoration: none;
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    transition: color ease-in 125ms;
}

.navOption:hover {
    color: #0088a9;
}

.navOption_title {    
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin: 0;
    position: relative;
}

.navOption_title::after {
    content: '';
    position: absolute;
    display: block;
    bottom: -2;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #0088a9;
    
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 200ms ease-in
}

.navOption_title:hover::after {
    
    transform: scaleX(1);   
    transform-origin: left;
}